---
import Button from "../../components/Button.astro";
import AuthLayout from "../../layouts/AuthLayout.astro";
let title = "LeaderBarber - Registrar";
let description = "";
let error = "";
---

<AuthLayout title="LeaderBarber - Registrar" description="">
  <header class="text-black">
    <h1 class="text-2xl font-bold px-4 py-3">LeaderBarber</h1>
  </header>

  <div class="m-auto bg-white px-52 py-10 h-auto w-auto">
    <h1 class="text-2xl font-normal text-black">Crea tu cuenta</h1>
    <form>
      <div class="form-control my-5 text-black">
        <label for="name">Nombres</label>
        <input
          type="text"
          name="name"
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="Amelia Polanco"
          required
        />
      </div>

      <div class="form-control my-5 text-black">
        <label for="name" class="">Apellidos</label>
        <input
          type="text"
          name="name"
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="Diaz Ventura"
          required
        />
      </div>
      <div class="form-control my-5 text-black">
        <label for="name">Telefono</label>
        <input
          type="text"
          name="name"
          maxlength={10}
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="8094452225"
          required
        />
      </div>
      <div class="form-control my-5 text-black">
        <label for="name">Fecha de nacimiento</label>
        <input
          type="date"
          name="name"
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="05-05-2005"
          required
        />
      </div>
      <div class="form-control my-5 text-black">
        <label for="name" class="">Correo Eléctronico</label>
        <input
          type="email"
          name="name"
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="AmeliaVentura@gmail.com"
          required
        />
      </div>

      <div class="form-control my-5 text-black">
        <label for="name" class="">Contraseña</label>
        <input
          type="password"
          name="name"
          id="name"
          class="p-2 block w-64 rounded-md bg-[#f4f4f4] border-transparent focus:outline-gray-500 focus:outline-2 focus:outline"
          placeholder="Ame!225iam"
          required
        />
      </div>

      <button class="bg-black text-white p-2 rounded-md w-64"
        >Registrarse</button
      >
    </form>
  </div>
</AuthLayout>
