---
import AuthLayout from "../../layouts/AuthLayout.astro";
let title = "LeaderBarber - Registrar";
let description = "";
let error = "";

---

<AuthLayout title="LeaderBarber - Registrar" description="">
    <div class="flex items-center justify-center h-screen ">
      <div class="p-5 bg-light rounded bg-white w-1/4 h-2/5">
        <h1 class="text-black">Register</h1>
      </div>
    </div>
  </AuthLayout>
  