---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import Styles from "../components/Sections/Styles.astro";
import Barbers from "../components/Sections/Barbers.astro";
import ToastSuccess from "../components/Toast/ToastSuccess.astro";
import Offers from "../components/Sections/Offers.astro";
import Schedule from "../components/Sections/Schedule.astro";
const appointment = Astro.cookies.has("appointment");
if (appointment) {
  console.log("appointment");
}
---

<Layout
  title="LeaderBarber - Encuentra tu estilo de pelo"
  description="Reserva citas con los mejores barberos de LeaderBarber. Consulta sus estilos, precios y tiempos de espera."
>
  <Section id="hero" styles="text-white bg-gray-900 py-24 md:py-32">
    <div class="flex flex-col items-center space-y-2 text-center text-balance">
      <h1
        class="text-4xl font-bold tracking-tighter sm:text-6xl md:text-7xl lg:text-6xl/none"
      >
        ¡Encuentra tu estilo de pelo!
      </h1>
      <p
        class="mx-auto max-w-[700px] text-gray-400 md:text-xl dark:text-gray-100"
      >
        Reserva citas con los mejores barberos de LeaderBarber. Consulta sus
        estilos, precios y tiempos de espera.
      </p>

      <div class="grid grid-cols-1 justify-items-center">
        <button
          class="bg-[#F5C24C] text-black font-bold px-6 py-2.5 rounded-lg mt-3 hover:bg-[#F5C24C] hover:text-black transition duration-300 ease-in-out transform hover:scale-105"
        >
          <a href="#Estilos">Explora nuestros estilos 👀</a>
        </button>
      </div>
    </div>
  </Section>
  {
    appointment && (
      <ToastSuccess
        title="Cita reservada"
        message="Tu cita ha sido reservada con éxito"
      />
    )
  }
  <Styles />
  <Barbers/>
  <Schedule />
</Layout>
