---
import Button from "../components/Button.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import cortePelo from "../assets/imgs/corte-pelo.png";
import barba from "../assets/imgs/barba.jpg";
import cortePeloModerno from "../assets/imgs/corte-pelo-moderno.jpg";
import cortePeloBarba from "../assets/imgs/corte-pelo-barba.jpg";
import cortePeloBarbaDiseño from "../assets/imgs/corte-pelo-barba-diseño.jpg";
import cortePeloBarbaModerno from "../assets/imgs/corte-pelo-barba-moderno.webp";
import barber1 from "../assets/imgs/barbers/barber1.avif";
import barber2 from "../assets/imgs/barbers/barber2.avif";
import barber3 from "../assets/imgs/barbers/barber3.avif";
import { getSession } from "auth-astro/server";
import { v4 as uuidv4 } from "uuid";
import Styles from "../components/Sections/Styles.astro";
import Barbers from "../components/Sections/Barbers.astro";
import Horario from "../components/Sections/Horario.astro";
const id = uuidv4();
const session = await getSession(Astro.request);

interface HaircutService {
  title: string;
  slug: string;
  price: string;
  description: string;
  image: ImageMetadata;
  duration: string; // Duración estimada del servicio
}
---

<Layout
  title="LeaderBarber - Encuentra tu estilo de pelo"
  description="Reserva citas con los mejores barberos de LeaderBarber. Consulta sus estilos, precios y tiempos de espera."
>
  <Section id="hero" styles="text-white bg-gray-900 py-24 md:py-32">
    <div class="flex flex-col items-center space-y-2 text-center text-balance">
      <h1
        class="text-4xl font-bold tracking-tighter sm:text-6xl md:text-7xl lg:text-6xl/none"
      >
        ¡Encuentra tu estilo de pelo!
      </h1>
      <p
        class="mx-auto max-w-[700px] text-gray-400 md:text-xl dark:text-gray-100"
      >
        Reserva citas con los mejores barberos de LeaderBarber. Consulta sus
        estilos, precios y tiempos de espera.
      </p>

      <div class="grid grid-cols-1 justify-items-center">
        <button
          class="bg-[#F5C24C] text-black font-bold px-6 py-2.5 rounded-lg mt-3 hover:bg-[#F5C24C] hover:text-black transition duration-300 ease-in-out transform hover:scale-105"
        >
          <a href="#Estilos">Explora nuestros estilos 👀</a>
        </button>
      </div>
    </div>
  </Section>

  <Styles />
  <Barbers />
  <Horario/>
</Layout>
