---
interface Props {
  title: string;
  redirect?: string;
}

const { title, redirect } = Astro.props;
---

<button
  class="rounded-md bg-blue-700 w-full py-2 text-sm font-medium text-gray-50 hover:bg-blue-600"
>
  <a href={redirect}>{title}</a>
</button>
