---
interface Props {
  title: string;
  redirect: string;
}

const { title, redirect } = Astro.props;
---

<button
  class="inline-flex h-9 items-center justify-center rounded-md bg-gray-900 px-4 py-2 text-sm font-medium shadow transition-colors text-gray-50"
>
  <a href={redirect}>{title}</a>
</button>
