---
interface Props {
  title: string;
  redirect?: string;
  type?: "button" | "submit" | "reset" | null | undefined;
  styles?: string;
}

const { title, redirect, styles, type } = Astro.props;
---

<button
  class:list={["rounded-md py-2 font-medium w-full", styles]}
  type={type || "button"}
>
  <a href={redirect}>{title}</a>
</button>
