---
interface Props {
  title: string;
  redirect?: string;
  styles: string;
}

const { title, redirect, styles } = Astro.props;
---

<button
  class:list={[
    "rounded-md py-2 font-medium w-full",
    {
      [styles]: styles,
    },
  ]}
>
  <a href={redirect}>{title}</a>
</button>
