---

---

<header class="mx-auto min-w-xl py-8 px-4 md:px-6">
  <nav
    class="text-black flex justify-center items-center space-x-4 md:justify-end"
  >
    <a href="#Estilos"
      ><p class="text-md font-medium hover:underline underline-offset-8">
        Éstilos
      </p></a
    >
    <a href="text-black"
      ><p class="text-md font-medium hover:underline underline-offset-8">
        Barberos
      </p></a
    >
    <a
      href="text-black"
      class="inline-flex h-9 items-center justify-center rounded-md bg-gray-900 px-4 py-2 text-sm font-medium text-white"
      ><p class="text-md font-medium hover:underline underline-offset-8">
        Registrarte!
      </p></a
    >
  </nav>
</header>
