---
interface Props {
  id: string;
  bgColor?: string;
}
const { id, bgColor } = Astro.props;
---

<section
  class:list={[
    "w-full py-72 md:py-62",
    {
      "bg-gray-100": !bgColor,
      bgColor: bgColor,
    },
  ]}
  id={id}
>
  <slot />
</section>
